.header__logo {
  width: 142px;
  height: 33px;
}

@media screen and (max-width: 937px) {
  .header__logo {
    padding-left: 20px;
  }
}

@media screen and (max-width: 529px) {
  .header__logo {
    padding-left: 27px;
    width: 104px;
    height: 24px;
  }
}