.profile__about-name {
  align-self: end;
  margin: 0;
  text-align: start;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 556px) {
  .profile__about-name {
    text-align: center;
  }
}

@media screen and (max-width: 429px) {
  .profile__about-name {
    width: 210px;
    font-size: 27px;
    line-height: 33px;
  }
}