.profile__image {
  margin-right: 30px;
  width: 120px;
  height: 120px;
  background-size: contain;
  border-radius: 50%;
}

@media screen and (max-width: 529px) {
  .profile__image {
    margin-right: 22px;
  }
}