.popup__container {
  position: relative;
  z-index: 2;
  margin: 195px auto;
  padding: 34px 36px 34px;
  box-sizing: border-box;
  width: 430px;
  height: 330px;
  background-color: #fff;
  border-radius: 10px;
}

@media screen and (max-width: 556px) {
  .popup__container {
    margin: 115px auto;
    padding: 25px 22px 25px;
    width: 282px;
    height: 322px;
  }
}