.profile__about {
  display: grid;
  grid-template-columns: 293px 50px;
}

@media screen and (max-width: 429px) {
  .profile__about {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 290px;
  }
}