.profile__add {
  margin-left: auto;
  padding: 0;
  width: 150px;
  height: 50px;
  border: 2px solid #fff;
  background-color: #000;
  background-repeat: no-repeat;
  background-image: url(../../../images/AddBtn.svg);
  background-position: center;
  border-radius: 2px;
  cursor: pointer;
  outline: none;
}

@media screen and (max-width: 719px) {
  .profile__add {
    margin-left: 150px;
    min-width: 300px;
  }
}

@media screen and (max-width: 556px) {
  .profile__add {
    margin: 0;
  }
}

@media screen and (max-width: 356px) {
  .profile__add {
    min-width: 100%;
  }
}