.profile {
  margin: 40px 0 51px;
  display: flex;
  align-items: center;
  max-width: 882px;
}

@media screen and (max-width: 937px) {
  .profile {
    margin-right: 20px;
  }
}

@media screen and (max-width: 719px) {
  .profile {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 556px) {
  .profile {
    flex-direction: column;
    margin-right: 0;
    margin-bottom: 35px;
    padding: 0 20px 0;
  }
}