.elements {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px 17px;
}

@media screen and (max-width: 937px) {
  .elements {
    margin: 0 auto;
    width: 98%;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 529px) {
  .elements {
    grid-template-columns: 1fr;
  }
}