.popup__submit {
  margin-top: 20px;
  padding: 0;
  width: 100%;
  height: 50px;
  background-color: #000;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 18px;
  line-height: 22px;
}

.popup__submit:hover {
  opacity: .8;
  transition: .3s ease;
}

@media screen and (max-width: 556px) {
  .popup__submit {
    font-size: 14px;
    line-height: 17px;
  }
}