.popup__submit {
  margin-top: 20px;
  padding: 0;
  width: 100%;
  height: 50px;
  background-color: #000;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
}

.popup__submit:hover {
  opacity: .8;
  transition: .3s ease;
}