.profile__add {
  width: 150px;
  height: 50px;
  border: 1px solid #fff;
  background-color: #000;
  background-repeat: no-repeat;
  background-image: url(../../../images/AddBtn.svg);
  background-position: center;
}