.popup__close {
  background-image: url(../../../images/CloseIcon.svg);
  padding: 0;
  height: 40px;
  width: 40px;
  position: absolute;
  top: -50px;
  right: -50px;
  border: none;
  outline: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.popup__close:hover {
  opacity: .6;
  transition: .3s ease;
}

@media screen and (max-width: 556px) {
  .popup__close {
    right: 0;
    height: 26px;
    width: 26px;
    background-size: 40px 40px;
  }
}