.form__submit {
  margin-top: 10px;
  padding: 0;
  width: 100%;
  height: 50px;
  background-color: #000;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 18px;
  line-height: 22px;
  transition: .2s ease;
  border-radius: 2px;
}

.form__submit:hover {
  opacity: .8;
}

@media screen and (max-width: 556px) {
  .form__submit {
    font-size: 14px;
    line-height: 17px;
  }
}