/*@keyframes spin-rotate {*/
/*  0% {*/
/*    transform: rotate(0deg);*/
/*  }*/
/*  50% {*/
/*    transform: rotate(180deg);*/
/*  }*/
/*  100% {*/
/*    transform: rotate(360deg);*/
/*  }*/
/*}*/

/*.loading {*/
/*  margin: 100px auto;*/
/*  position: relative;*/
/*  width: 150px;*/
/*  height: 150px;*/
/*  overflow: hidden;*/
/*}*/

/*.loading:after {*/
/*  content:'';*/
/*  position: absolute;*/
/*  border-width: 0px;*/
/*  border-radius: 100%;*/
/*  animation: spin-rotate 1s 0s infinite ease-in-out;*/
/*  background-image: linear-gradient(transparent 0, transparent 70%, #fff 30%, #fff 100%);*/
/*  width: 100%;*/
/*  height: 100%;*/
/*}*/

@keyframes rotate_pacman_half_up  {
  0% {
    transform: rotate(270deg);
  }
  50% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(270deg);
  }
}

@keyframes rotate_pacman_half_down  {
  0% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(90deg);
  }
}

@keyframes pacman-balls {
  0% {
    transform: translate(0px, 0px);
  }
  100% {
    transform: translate(-45px, 0px);
  }
}

.loading {
  position: relative;
  margin: 50px auto;
  width: 100px;
  height: 100px;
}

.loading:after {
  content: '';
  position: absolute;
  top: 16px;
  right: 29px;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background-color: black;
  box-shadow: 0 0 0 1px gray;
}

.loading-up {
  position: absolute;
  width: 0;
  height: 0;
  border-right: 50px solid transparent;
  border-top: 50px solid #fff;
  border-left: 50px solid #fff;
  border-bottom: 50px solid #fff;
  border-radius: 50px;
  animation: rotate_pacman_half_up 0.5s infinite;
}

.loading-down {
  position: absolute;
  width: 0;
  height: 0;
  border-right: 50px solid transparent;
  border-top: 50px solid #fff;
  border-left: 50px solid #fff;
  border-bottom: 50px solid #fff;
  border-radius: 50px;
  animation: rotate_pacman_half_down 0.5s infinite;
}

.loading-ball {
  animation-fill-mode: both;
  animation: pacman-balls 1s infinite linear;
  background-color: #fff;
  border-radius: 100%;
  width: 15px;
  height: 15px;
  position: absolute;
  transform: translateX(50px);
  top: 45px;
}

.loading-ball1 {
  right: -45px;
}

.loading-ball2 {
  right: -90px;
}

.loading-ball3 {
  right: -135px;
}