.profile__about-edit {
  align-self: center;
  justify-self: center;
  padding: 0;
  width: 24px;
  height: 24px;
  border: 1px solid white;
  background-image: url(../../../images/EditBtn.svg);
  background-color: #000;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  outline: none;
}