@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);
@import url(../blocks/page/page.css);
@import url(../blocks/container/container.css);
@import url(../blocks/container/_header/container_header.css);
@import url(../blocks/container/_footer/container_footer.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);
@import url(../blocks/hover/hover.css);
@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__about-caption/profile__about-caption.css);
@import url(../blocks/profile/__about-edit/profile__about-edit.css);
@import url(../blocks/profile/__about-name/profile__about-name.css);
@import url(../blocks/profile/__about/profile__about.css);
@import url(../blocks/profile/__add/profile__add.css);
@import url(../blocks/profile/__image/profile__image.css);
@import url(../blocks/elements/elements.css);
@import url(../blocks/element/element.css);
@import url(../blocks/element/__button-delete/element__button-delete.css);
@import url(../blocks/element/__button-like/element__button-like.css);
@import url(../blocks/element/__button-like/_active/element__button-like_active.css);
@import url(../blocks/element/__content/element__content.css);
@import url(../blocks/element/__title/element__title.css);
@import url(../blocks/element/__image/element__image.css);
@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/_type/_photo/popup_type_photo.css);
@import url(../blocks/popup/__container/popup__container.css);
@import url(../blocks/popup/__close/popup__close.css);
@import url(../blocks/popup/_opened/popup_opened.css);
@import url(../blocks/popup/__button/popup__button.css);
@import url(../blocks/popup/__box/popup__box.css);
@import url(../blocks/popup/__image/popup__image.css);
@import url(../blocks/popup/__title/popup__title.css);
@import url(../blocks/form/__submit/form__submit.css);
@import url(../blocks/form/__title/form__title.css);
@import url(../blocks/form/__input/form__input.css);
@import url(../blocks/form/__submit/_disable/form__submit_disable.css);
@import url(../blocks/popup/__error/popup__error.css);
@import url(../blocks/popup/__error/_active/popup__error_active.css);