.profile__about-caption {
  align-self: start;
  margin-top: 7px;
  font-size: 18px;
  line-height: 22px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 556px) {
  .profile__about-caption {
    margin-bottom: 33px;
    text-align: center;
  }
}

@media screen and (max-width: 429px) {
  .profile__about-caption {
    width: 100%;
    font-size: 14px;
    line-height: 17px;
  }
}