.photo__title {
  margin: 0;
  margin-top: 10px;
  max-width: 300px;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
