.element__button-like {
  margin-top: 30px;
  padding: 0 21px 0;
  box-sizing: border-box;
  width: 22px;
  height: 19px;
  background-image: url(../../../images/Like.svg);
  background-repeat: no-repeat;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
}

.element__button-like:active {
  background-image: url(../../../images/LikeClicked.svg);
}